:root {
  margin: 0;
  padding: 0;
}

.movieBox1 {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  overflow: hidden;
  gap: 0px;
  box-sizing: border-box;
  position: relative;
}

.movieBox1 .imgBox {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.app .movieBox1 .movieDetailsBox {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.856);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  border-radius: 0px 0px 10px 10px;
}

.movieBox1 .movieDetailsBox div {
  width: 100%;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.movieBox1 .movieDetailsBox .h1 {
  font-size: 14px;
  line-height: 1.1;
  color: #fff0cf !important;
  margin: 0;
  color: #fff0cf;
  text-align: center;
}

.hidden2 {
  transition-duration: 0.3s;
  opacity: 0%;
}

.hidden {
  display: none;
}

.movieBox1 .movieDetailsBox p {
  color: #ffbb00 !important;
  font-size: 10px;
  margin: 0;
  line-height: 1.2;
}
