.homeContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
}

.homeContent .contentCon {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
  position: relative;
  margin: auto;
}

.homeContent .heroTextCont {
  width: 50%;
}

.homeContent .heroTextCont h1 {
  font-size: 70px;
  text-align: center;
  margin: 0;
  line-height: 1;
  color: var(--h1);
}

.homeContent p {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: var(--text);
}

.homeContent .heroTextCont .pCont {
  width: 80%;
  margin: auto;
  font-size: 14px;
}

.moviesHeroCont {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 80px;
}

.moviesHeroCont::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1366px) {
  .homeContent .heroTextCont {
    width: 70%;
    /* background-color: green; */
  }

  .homeContent .heroTextCont h1 {
    font-size: 60px;
    margin: 0;
    line-height: 0.85;
  }

  .homeContent .heroTextCont .pCont {
    width: 70%;
    font-size: 14px;
  }

  .homeContent .bottmMoviesCon {
    bottom: 10px;
  }

  .moviesHeroCont {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 40px;
  }
}

@media (max-width: 850px) {
  .homeContent .contentCon {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .homeContent .heroTextCont {
    width: 100%;
    margin-top: 0px !important;
  }

  .homeContent .heroTextCont .pCont {
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .homeContent p {
    font-size: 16px;
    line-height: 1.2;
  }

  .homeContent .heroTextCont h1 {
    font-size: 40px;
    text-align: center;
  }

  .homeContent .bottmMoviesCon {
    display: none;
  }
}
