.mainCon {
  width: 100%;
  top: 0;
  left: 0;
}

.mainCon .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainCon .coverCon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--movieDetailBg);
}

.movieDetailsBox {
  width: 100%;
  height: 90vh !important;
  background: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsCont {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  padding-right: 100px;
}

.bgCon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 50%;
}

.mainDetailsCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  flex-direction: row;
  padding-right: 100px;
}

.detailsCont .leftCon {
  flex: 1;
  text-align: right;
}

.detailsCont .leftCon img {
  width: 350px;
  height: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.247);
}

.detailsCont .rightCon {
  text-align: left;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  line-height: 1;
  box-sizing: border-box;
  height: 100%;
}

.detailsCont .rightCon .h1 {
  font-size: 55px;
  color: orangered;
  margin: 6px 0px 0px 0px;
}

.hidden {
  display: none;
}

.detailsCont .rightCon span {
  font-weight: bold;
  font-size: 16px;
  color: var(--text);
}

.detailsCont .rightCon .aboutCon p {
  font-size: 14px;
  margin: 0;
  color: var(--text);
  margin-top: 10px;
  line-height: 1.2;
}

.mainCon .movieDetailsBox .detailsCont svg {
  width: 25px;
  position: absolute;
  right: 1%;
  height: 25px;
  top: 1%;
  z-index: 10;
  cursor: pointer;
}

/* .cls-1 {
  fill: white;
} */

.ratingsCont {
  display: flex;
  align-items: start;
  gap: 20px;
}

.ratingsCont div {
  line-height: 1.5;
}

.ratingsCont p {
  color: var(--special_text);
}

@media (max-width: 1366px) {
  .detailsCont .leftCon img {
    width: 300px;
    height: auto;
  }

  .detailsCont .rightCon .h1 {
    font-size: 40px;
  }

  .detailsCont .rightCon span {
    font-size: 12px;
  }

  .detailsCont .rightCon .aboutCon p {
    font-size: 12px;
  }

  .detailsCont .rightCon {
    gap: 15px;
  }
}

@media (max-width: 1100px) {
  .detailsCont .rightCon {
    padding: 0;
  }
}

@media (max-width: 850px) {
  .detailsCont .rightCon .h1 {
    font-size: 25px;
  }

  .mainDetailsCont {
    padding: 0 50px;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .detailsCont {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    gap: 0px;
  }

  .detailsCont .leftCon img {
    width: 200px;
    height: auto;
  }

  .detailsCont .rightCon {
    align-items: center;
    text-align: center;
    padding: 0;
    height: 50%;
    margin: 0;
    flex: 1;
  }

  .detailsCont .leftCon {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .movieDetailsBox .detailsCont {
    overflow-y: scroll;
    padding-top: 150px;
    box-sizing: border-box;
  }

  .movieDetailsBox .detailsCont::-webkit-scrollbar {
    display: none;
  }
}
