.moviesContainer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  place-items: center;
  background-image: url();
  align-items: start;
}

@media (max-width: 1750px) {
  .moviesContainer {
    column-gap: 10px;
    row-gap: 50px;
  }
}

@media (max-width: 1550px) {
  .moviesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1250px) {
  .moviesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .moviesContainer {
    grid-template-columns: 1fr;
  }
}
