@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --body_background: #0c0e14;
  --orange: orangered;
  --bg-trans: rgba(0, 1, 5, 0.863);
  --black: black;
  --logo-text: #0c0e14;
  --btn-text: black;
  --text: white;
  --err_text: red;
  --special_text: orange;
  --h1: white;
  --placeholder: #949494;
  --input: rgb(255, 255, 255);
  --movieDetailBg: #0c0e14ea;
  --filterOrange: orangered;
}

[data-theme="dark"] {
  --body_background: rgb(213, 216, 223);
  --orange: orangered;
  --bg-trans: rgba(214, 216, 224, 0.897);
  --black: orangered;
  --logo-text: rgb(213, 216, 223);
  --btn-text: white;
  --text: black;
  --err_text: orangered;
  --special_text: orangered;
  --placeholder: #d8d8d8;
  --h1: orangered;
  --input: rgb(255, 255, 255);
  --movieDetailBg: #dde0e9d2;
  --filterOrange: black;
}

a {
  text-decoration: none;
}
